* {
    font-family: "Jost", serif;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;

}

.second-text {
    font-size: 1.2em;
    font-weight: 500;
    color: #4f4f4f;
}

.heading-section {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: start;
}

.first-text {
    font-size: 1.2em;
    font-weight: 700;
    color: #333;
}

.heading-section>h1 {
    margin: 0;
    padding: 0.8em;
}

.menu-list {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.4em;
    justify-content: center;
    align-items: center;
}
.menu-list > li:hover{
    background-color: black;
    color: white;
}
.image-section {
    height: 100px;
    width: 100px;
    display: flex;
}

.image-section>img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.menu-list>li {
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: 500;
    margin: 30px 0;
}

.hero-section {
    height: 490px;
    width: 98.5vw;
    display: flex;
    flex-direction: column;
    background-image: url(images/banner.jpg);
}

.hero-text>h1 {
    margin: 60px 0 0 0;
}

.hero-text>p {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2.5rem;
}

.hero-buttons {
    display: flex;
    gap: 1em;
}

.hero-buttons>button {
    margin: 2em 0;
    padding: 1em;
    border: none;
    font-weight: 700;
    border-radius: 2em;
}
.hero-buttons >button > a{
    color: black;
}

.hero-buttons>button:hover {
    background-color: #333;
    color: white;
}

.our-services {
    margin: 50px 0;
}

.our-services>h1 , .internship-section>h1{
    font-size: 2em;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin: 50px 0;
}

.services {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

.service, .development {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.service>img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.internship-types{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;

}
.development > img{
    height: 100px;
    width: 100px;
}
.services > img:hover, .internship-types >img:hover{
    transform: scale(1.1);

}
.about-section{
    background: linear-gradient(to right, white, lightgrey);
}
.about-section > h1{
    font-size: 2em;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin: 50px 0;
    text-align: center;
}
.about-summary{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 0;
    gap: 1em;
    line-height: 2em;
}
.about-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-logo{
    display: grid;
    place-items: center;
}
.about-logo > img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.contact-section{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-items: center;
    gap: 1em;
}
.form{
    display: flex;
    width: 500px;
    height: auto;
    flex-direction: column;
    gap: 1em;
}

input, select, textarea{
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid #333;
    border-radius: 0.5em;
}
input:placeholder-shown, select:placeholder-shown, textarea:placeholder-shown{
    color: #333;
    margin: 0 0.5em;    
}
.button-forms{
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-weight: 700;
    cursor: pointer;
    display: grid; 
    place-items: center;
    grid-template-columns: repeat(2,1fr);
}
.submit-button{
    background-color: #333;
    width: 100px;
    padding: 0.5em;
    color: white;
}
select{
    width: 490px;
    margin-left: 4px;

}
.reset-button{
    background-color: white;
    width: 100px;
    padding: 0.5em;
    color: #333;
}
footer{
    background: linear-gradient(to right, white, #333);
}
.about-company{
    position: relative;
}
.recent-posts{
    position: absolute;
    left: 49%;
    top: 20%;
    width: 50%;
    height: 50%;
    right: 5%;
}
.recent-posts > iframe{
    margin: auto;
    width: 100%;
    height: 250px;
}
.company > h1, .address > h1{
    text-align: left;
    margin: 0.5rem 0;
}
.company > p, .address > address{
    margin: 0 0.5rem;
}
.icons > a{
    color: black;
    font-size: 2em;
    margin: 0.5em 0.5em;
}
.footer > p{
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding: 0.5rem;
    margin: 0.2rem 0;
}
.service, .development{
    color: black;
    background-color: white;
    transition: all ease 2s;    
}

.service:hover, .development:hover {
    transform: rotateY(360deg);
    color: white;
    background-color: black;
    border-radius: 1rem;

}
@media screen and (max-width: 768px) {
    .header {
        align-items: center;
        flex-direction: row;
    }
    .hero-text > h1, .hero-text > p {
        text-align: center;
    }
    .hero-buttons {
        justify-content: center;
    }

    .menu-list {
        display: none;
    }
    .services, .internship-types {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3em;
    }
    .form{
        width: 300px;
    }
    select{
        width: 290px;
        margin-left: 4px;
    
    }
    .about-text{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .development, .services,.about-summary{
        margin: 1em;
    }
    footer{
        background: linear-gradient(to right, white, #333);
    }
    .about-company{
        position: relative;
    }
    .recent-posts{
        position: absolute;
        left: 0%;
        top: 100%;
        width: 100%;
        height: 50%;
        right: 5%;
    }
    .recent-posts > iframe{
        margin: auto;
        width: 100%;
        height: 250px;
    }
    .company > h1, .address > h1{
        text-align: left;
        margin: 0.5rem 0;
    }
    .company > p, .address > address{
        margin: 0 0.5rem;
    }
    .icons > a{
        color: black;
        font-size: 1.5em;
        margin: 0.5em 0.5em;
    }
    .footer{
        position: absolute;
        bottom: -65%;
    }

}
